	<script src="http://localhost:8888/payment/vendor/components/jquery/jquery.min.js"></script>
	<script src="http://localhost:8888/payment/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://localhost:8888/payment/assets/js/spin.min.js"></script>
	<script src="http://localhost:8888/payment/assets/js/payment.paypal.min.js"></script>
	
	</body>
<!-- Footer -->
</html>
