<html>
<head>
	<title>Payment</title>
</head>
<!-- Header -->
	<link href="http://localhost:8888/payment/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://localhost:8888/payment/assets/css/landing.css" rel="stylesheet">
<body>
